#back-to-top, #whatsapp-bottom, #eye-bottom {
    right: 0;
    position: fixed;
    z-index: 999;
    top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#back-to-top {
    bottom: 115px;
}
#eye-bottom{
    bottom: 0px;
    width: 62px;
    display: none;
    align-items: center;
    right: 0;
}
#back-to-top .btn, #whatsapp-bottom .btn, .btn-xss {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: 1;
    border: none;
    transition: all 0.4s ease-in;
    border-radius: 8px 0 0 8px;
    box-shadow: -2px 2px 5px #0000008c;
}
#back-to-top .btn.round, #whatsapp-bottom .btn.round{
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 5px 5px -3px #000;
} 
#whatsapp-bottom {
    bottom: 55px;
}
#back-to-top .fa, #whatsapp-bottom .fa {
    font-size: 30px;
    display: flex;    
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);   
    align-items: center;
    justify-content: center;
}
.btn-xss{
    background: #000;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 4px;
}
#whatsapp-bottom .btn {
    background: #25d366;
}
#back-to-top .btn:hover,
#whatsapp-bottom .btn:hover,
#back-to-top .btn:focus,
#whatsapp-bottom .btn:focus
{background: #333;box-shadow: inset 0 0 10px #000;opacity: 0.1;}
.btn-xss .fa {
    font-size: 15px;
}
.btn .fa-eye:before{ content:'\f06e'; color:#fff;}
.eyeOff.btn .fa-eye:before{content:'\f070';color: red;}

.divOn{}
.divOff{}

#eye-bottom.divOn {
    display: flex;
}
