.galeria .thumb-list {
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 5px;
    background: #eee;
}

.galeria .thumb-list li{
 padding-top: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.galeria .thumb-list li img {
    max-width: 100%;
    height: auto;
}
.main-image {
  overflow: hidden;
  position: relative;  
  margin-bottom: 10px;
}

div#detail-gallery {
    position: relative;
}

.thumbnails-row {
    display: grid;
    grid-auto-columns: 6;
    align-items: center;
    justify-content: center;
    
}