.galeria .thumb-list {
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 5px;
    background: #eee;
}
.galeria .thumb-list li{
 padding-top: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
}


.galeria .thumb-list li img {
    max-width: 100%;
    height: auto;
}


.main-image {
  overflow: hidden;
  position: relative;
  /* padding: 1em; */
  /* border: 1px solid #ccc; */
  margin-bottom: 10px;
}

.image-thumbnail {
    /* display: inline-block; */
}

div#detail-gallery {
    position: relative;
}

.thumbnails-row {
    display: grid;
    grid-auto-columns: 6;
    /* grid-template-rows: repeat(auto-fill, minmax(50px, 40px)); */
    /* grid-gap: 5px; */
    align-items: center;
    justify-content: center;
    /* float: left; */
}