.talles {
    font-weight: 400;
}

.colors-list .panel {
    max-width: 80px;
    min-width: 50px;
    margin: 3px;
    padding: 3px;
    border: 1px solid #ddd;
}

.modal-button-trigger .btn {
    padding: 10px 18px;
    font-size: 20px;
    border-radius: 2em;
}

.codigo {
    color: #999;
    text-align: right;
    margin-bottom: 15px;
}

.galeria-box, .detalle {
    padding: 10px;
    border: 1px solid #dddd;
}