@media (min-width: 768px){
.navbar-nav {
 float:none;
 text-align: center;
 margin: 0;
 margin: 0 auto;
}


.navbar-nav > li {
    float: none;
    display: inline-block;
    box-sizing: inherit;
}


}
#section-644 .acm-hero{padding:0;}

@media(max-width:767px){
	
	.uber-header .col-xs-12{
		width:auto;
		}
	
	
}