.colores{
    /* display: grid; */
    /* grid-template-columns: 25% 75%; */
    /* grid-template-areas: "color-title color-list"; */
    /* text-align: center; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colores h4{
    /* width: 100%; */
    /* grid-area: color-title; */
    margin-right: 8px;
}
.colores .panel{
    margin: 0;
    padding: 2px;
    margin: 2px;
}
.colores .panel-heading{
    border-radius: 0;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    color: #fff;
}
.colores .panel-body{}


h4.precio {

  
}

.colors-list {
    display: flex;
    align-items: center;
    /* grid-area: color-list; */
}

.article-social-share {
    margin: 15px 0;
}

.th_form {
    max-width: 100px;
    margin-bottom: 15px;
    float: left;
}

h4.asktt {
    float: right;
}

.modal-button-trigger {
    text-align: center;
    margin: 2em;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.galeria-box {}

.modal-button-trigger .btn {
    margin: 15px auto;
    padding: 10px 18px;
    font-size: 18px;
    border-radius: 2em;
}

h4.codigo {
    color: #999;
    text-align: right;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.detalle, .galeria-box {
    padding: 10px;
    border: 1px solid #ddd;
}

.catalog-box [class^='col-sm-'] {
    /* padding: 0; */
}

.detalle {
    background: #f1f1f1;
    text-align: center;
}