.bottom-icons span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    background: #fff;
    padding: 8px;
    border: 1px solid #ccc;
}

.bottom-icons {
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
}

.bottom-icons span svg {
    width: 20px;
    fill: #999;
    margin-right: 8px;
    height: 20px;
}

.introtext-box {
    margin: 15px 0;
    font-size: 18px;
}

.detalle {
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
}

.detalle .operacion {
    position: absolute;
    transform: rotate(-45deg);
    background: red;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    top: 20px;
    left: -35px;
    box-shadow: 0 2px 2px #0000005c;
}

.detalle .operacion .banner-title {
    width: 100%;
    padding: 8px 35px;
}

h4.asktt {
    float: none;
    text-align: center;
    margin-bottom: 15px;
}

h4.precio {
    margin-top: 35px;
    font-size: 42px;
}

.estado {
    padding: 6px 12px;
    background: #ccc;
    display: inline-block;
    margin: 15px auto;
    border-radius: 8px;
    font-weight: 400;
}

.bottom-info {
    display: inline-flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.tipo-propiedad {
    /* background: #666; */
    padding: 6px 15px;
    text-transform: uppercase;
    margin-right: 8px;
    color: #f00;
    letter-spacing: 1px;
}



.estado.estado-Reservado {
    background: red;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.ubicacion-texto {
}

.bottom-info >div {
    padding: 4px 12px;
    background: #eee;
    border: 1px solid #999;
}

.estado-Disponible {
    background: green;
    color: #fff;
}