    @import "../vars.less";
    body {
        padding-top: @body-padding;
    }

    body.small-padding {
        padding-top: 50px;
    }

    .sticky-nav {
        background-color: @navbar-default-bg;
        .t3-mainnav {
            border: none;
        }
        .navbar-brand {
            height: @body-padding - 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
            grid-area: brand;
            align-self: flex-start;
        }
        .navbar-header {
            display: grid;
            /* grid-gap: 10px; */
            grid-template-columns: 180px 1fr;
            grid-template-areas: "brand brand toggle";
            align-items: center;
            justify-content: center;
            grid-area: nav-header;
            line-height: @body-padding - 10px;
            min-height: @body-padding - 10px;
            padding: @navbar-header-padding - @navbar-header-padding;
        }
    }

    .navbar-default {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        float: right;
        border-width: 0;
        border-radius: 0;
        width: @toggle-size;
        height: @toggle-size;
        line-height: (@toggle-size - 10px) / 2;
        font-size: 21px;
        transition: all 350ms linear;
    //    margin: (@body-padding - 10px) / 4;
        margin: 0 ;
        grid-area: toggle;
    }

    .logo-img {
        max-width: 100%;
    }

    @media(min-width: @grid-float-breakpoint) {
        .navbar-default .navbar-nav>li>a {
            line-height: @nav-link-size;
            padding-top: 0;
            padding-bottom: 0;
        }
        #topnav {
            float: right;
            height: @navbar-header-height;
            padding-top: (@body-padding - @navbar-header-height ) / 4;
            padding-bottom: (@body-padding - @navbar-header-height ) / 4;
            padding-top: (@body-padding - @navbar-header-height ) / 2;
            padding-bottom: (@body-padding - @navbar-header-height ) / 2;
            grid-area: topnav;
            justify-self: flex-end;
        }
        .t3-mainnav .container {
            display: grid;
            align-items: center;
            grid-template-areas: "nav-header topnav";
            grid-template-columns:  @grid-template-columns-header;
        }
        .small-nav .navbar-default .navbar-nav>li>a {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .small-nav {
        .navbar-header {
            line-height: 40px;
            min-height: 40px;
            padding: 0px;
        }
        .navbar-brand {
            height: 40px;
            .logo-img {
                height: 40px;
                width: auto;
                margin: 5px;
            }
        }
        .navbar-toggle {
           // margin: 5px;
        }
    }

    .small-nav .navbar-default .navbar-nav>li>a {
        line-height: 30px;
    }

    .small-nav .topbar * {
        background-color: transparent !important;
        font-size: 15px !important;
        line-height: 1 !important;
        border: none !important;
    }

    .small-nav .desc-text {
        display: none;
    }

    .small-nav .navbar-header img {
        height: 40px;
    }

    
        
    @media(max-width:@grid-float-breakpoint){
        body{padding-top: 50px;}
        .sticky-nav .navbar-header{
            line-height: 50px;
            min-height: 50px;
        }
        .t3-mainnav .container{
          //  padding:0;
         }
       .navbar-toggle {
           
            height: 40px;
            padding: 0px;
            margin: 0;
        }
         .sticky-nav .navbar-brand {
            height: 50px;
            margin: 0;
            .logo-img {
                height: 40px;
                width: auto;
                margin: 5px;
            }
        }
        .container > .navbar-collapse{
           // margin: 0;
        }
        }
        
        @media(min-width: @grid-float-breakpoint){
       
        
        .navbar-collapse.collapse{
            
            display: flex !important;
            justify-content: stretch;
            align-items: center;
        }
        
        }
        
        
        
        .btn-block.social-btn > :first-child {
            display: flex;
            position: static;
            align-items: center;
            justify-content: center;
        }
        
        .contact-item {
            display: inline;
        }
        
        .top-social.container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0.5em;
        }
      
      
